.section-header{position:relative; padding:0; min-height:400px; background-repeat:no-repeat; background-position:center center; background-attachment:fixed; background-size:cover; position:relative;}
.section-header:after{content:''; width:50%; height:10px; background:#6861e8; position:absolute; bottom:0; left:0; z-index:2;}
.section-header:before{content:''; width:100%; height:100%; top:0; left:0; position:absolute; background-color:rgba(0,0,0,0.6); z-index:1;}
.section-header .sec-title{position:absolute; bottom:30px; left:10%; color:#fff; z-index:1;}
.section-header h1{font-weight:100; font-size:52px; line-height:56px; margin-bottom:0; margin-top:0; max-width:400px;}
.section-header .sec-title h3{margin-bottom:0;}
.section-header .likeapro{position:absolute; z-index:3; left:10%; top:40px;}

.cursos-destacados{padding:90px 10%; text-align:left; position:relative;}
.cursos-destacados h2{font-weight:100; font-size:60px; margin-bottom:50px;}

.fechas-content h4{margin-bottom:0; font-size:13px; line-height:13px; margin-top:20px; color:#ff4a70;}

.cursos-content{padding:10px 0;}
.cursos-destacados .descripcion{padding:0;}
.cursos-destacados .descripcion h4{margin-top:30px; margin-bottom:5px;}
.cursos-destacados .descripcion li{padding-bottom:0; margin-bottom:0; font-size:13px;}
.cursos-destacados h3{margin-top:90px; margin-bottom:10px; color:#6861e8; font-weight:200; font-size:42px;}
.sede-titulo{margin-top:15px; background:#777; font-size:16px; color:#fff; border-radius:6px; padding:2px 10px; margin-bottom:2px; display:inline-block;}
.sede-fecha-inicio{ font-size:16px; font-weight:300; color:#222; padding:4px 10px; background:#f0fbfc; border:1px solid #ccc; }
.sede-fecha-inicio .ar{text-align:right;}
.sede-fecha-inicio b{font-size:12px;}

.sede-profesores{ background:#f5f5f5; border:1px solid #ccc; border-bottom:0; margin-top: 10px;}
.sede-profesores .col-md-3{padding-top:25px;}

.list-horario-sede{padding:8px 5px; border:1px solid #ccc; border-top:0; font-size:13px;}
.list-horario-sede:nth-child(odd){background:#f5f5f5;}
.list-horario-sede .col-md-4{border-right:1px solid #ccc;}

.list-profesor:nth-child(6n+1){clear:both;}
.list-profesor,.list-profesor-sede{ font-size:11px; margin:15px 0;}
.list-profesor .imagen{width:100px; height:100px; border-radius:50%; overflow:hidden; margin-bottom:10px; background-position:top center; background-size:cover; padding:0;}
.list-profesor-sede{display:inline-block;}
.list-profesor-sede .imagen{width:50px; height:50px; border-radius:50%; overflow:hidden; margin-bottom:10px; background-position:top center; background-size:cover; padding:0;}
.list-profesor table{width:100%;}

.list-precio-sede{padding:15px; background:#f1f1f1; display:inline-block;}
.cursos-destacados .col-r{ padding-left:10%;}
.cursos-destacados .precio{color:#6861e8; margin:0; font-size:48px; font-weight:400; letter-spacing:-1px;}
.cursos-destacados .precio_matricula_tachado{color:#6861e8; margin:0; font-size:20px; font-weight:400; letter-spacing:-1px; text-decoration:line-through; display:inline-block;}
.cursos-destacados  .descuento{font-size:12px; color:#222; font-weight:300;}
.cursos-destacados .precio_matricula{color:#dc4968; margin:0; font-size:34px; font-weight:400; letter-spacing:-1px;}
.cursos-destacados .mp{padding-top:25px;}


#pay_btn{padding-top:4px; margin-top:20px;}
#pay_btn .btn{background:#ff4a70; border:1px solid #e53861;}

.customer-data{position:fixed; right:-150%; top:110px;  background:rgba(0,0,0,0.95); z-index:9; -webkit-transition: 0.4s; transition: 0.4s; padding:0 50px; transition-timing-function: ease-out;}
.customer-data.active{right:0; -webkit-transition: 0.8s; transition: 0.8s; transition-timing-function: ease-in;}
.customer-data h3{color:#fff; line-height:40px; margin-top:40px;}
.customer-data h4{color:#31c8d6;}
.customer-data .input-td input, .customer-data .input-td select{width:100%; border:1px solid #ededed; background:#ededed; color:#333; padding:10px 6px; resize:none; max-width:100%; margin:2px 0;}
.customer-data .input-td select, .customer-data .input-td optgroup{font-size:10px !important;}
.customer-data .close-chk {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    text-align: center;
	cursor:pointer;
}
.customer-data .close-chk:hover{
	border:1px solid #ff4a70;
	color:#ff4a70;
}

.mt80{margin-top:80px;}
.form{margin-top:0px;}
.form h3{margin-top:0; color:#333; font-size:26px; letter-spacing:-1px;}

.cursos-content{padding:60px 10%;}
.cursos-content a{text-decoration:none !important;}
.list-curso{background:#ededed; border:6px solid #fff; padding:8px 0 0 0; text-align:left; height:450px; cursor:pointer; overflow:hidden;}
.list-curso .imagen{overflow:hidden; -webkit-transition: 0.4s; transition: 0.4s; padding:0;}
.list-curso img{width:100%;}
.list-curso h2{font-size:24px; font-weight:100; padding:0 15px; margin-bottom:0; word-wrap:break-word;}
.list-curso .descripcion{height:120px; overflow:hidden; position:relative; font-size:12px; line-height:14px; color:#444; padding:15px; -webkit-transition: 0.4s; transition: 0.4s;}
.list-curso .descripcion:after{
	content:''; width:100%; height:20px; position:absolute; bottom:0; left:0; 
	background: -moz-linear-gradient(top, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(237,237,237,0) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(237,237,237,0) 0%,rgba(237,237,237,1) 100%);
}
.list-curso:hover .imagen{
	height:40px !important;
	-webkit-transition: 0.4s; transition: 0.4s;
}
.list-curso:hover .descripcion{height:200px; -webkit-transition: 0.4s; transition: 0.4s;}

.list-curso .btn{position:absolute; bottom:0; left:0; width:100%; border-radius:0; padding:8px; text-align:center; color:#fff;}
.list-curso .btn.cat-1{background:#6861e8;}
.list-curso .btn.cat-2{background:#31c8d6;}
.list-curso .btn.cat-3{background:#dc4968;}

.sedes{padding:0; text-align:center;}
.sedes h2{background:#eaeaea; color:#47cfd9; font-size:48px; font-weight:100; padding:40px 15px; margin:0;}
.sedes .map_canvas{height:500px;}

.bertoldi{padding:0; background:#343434; min-height:450px; position:relative;}
.bertoldi .img{background:url(../img/bertoldi_home_bg.jpg) no-repeat right center; background-size:cover; position:absolute; height:100%;}
.bertoldi .img:after{content:''; position:absolute; right:0; top:0; width:40%; height:100%; background:url(../img/like_a_pro_home.png) no-repeat center center / 60% auto ,rgba(0,0,0,0.8);}
.bertoldi .data{padding:150px 10% 150px 4%; color:#fff;}
.bertoldi .data h3{font-size:48px; font-weight:100;}

.form .input-td input,.form .input-td textarea,.form .input-td select{width:100%; border:1px solid #ededed; background:#ededed; color:#333; padding:12px 8px; resize:none; max-width:100%; margin:2px 0;}
.form .input-td textarea{height:180px;}
.input-td{padding:0 0; position:relative;}
.input-td.error input, .input-td.error_mail input{
	border:1px solid #ff0000;
}

.form .btn{text-shadow:none; width:100%; font-size:22px; text-align:center; font-weight:300; padding-left:30px; padding-right:30px; border:0; border-radius:0; margin-top:2px; background: #47cfd9; color:#fff; text-shadow:none;}

.related h3{padding:0 10%; margin-top:60px; margin-bottom:0; font-size:22px; font-weight:400;}

@media screen and (min-width: 1440px) {
   .list-curso{height:540px;}
   .list-curso h2{font-size:32px;}
   .list-curso:hover .imagen{height:150px !important;}
   .list-curso .descripcion{height:140px; font-size:13px;}
   .list-curso:hover .descripcion{height:280px;}
   .bertoldi .data{padding:250px 15% 250px 4%; color:#fff;}
}
@media screen and (max-width:992px) {
	.list-profesor:nth-child(6n+1){clear:none;}
	.list-profesor:nth-child(4n+1){clear:both;}
}
@media screen and (max-width:768px) {
	.customer-data{width:100%;}
	.list-curso .descripcion{height:240px;}
	.list-curso:hover .descripcion{height:280px;}
	.section-header h1{font-size:42px; line-height:45px;}
	.cursos-destacados {
		padding: 120px 5%;
		text-align:center;
	}
	.list-profesor{margin:40px 0;}
	.list-profesor .imagen{display:inline-block;}
	.cursos-destacados .col-r{padding-top:80px;}
	.list-curso .imagen{height:200px !important;}
	.list-curso:hover .imagen{height:80px !important;}
	.list-curso:hover .descripcion {height: 200px;}
	.cursos-destacados .col-r{padding-left:0;}
	.list-profesor .descripcion b{font-size:18px;}
	.cursos-destacados{padding:80px 0; text-align:center; }
	.sede-fecha-inicio {font-size: 12px;}
	
}

@media screen and (max-width:576px) {
	.list-curso .imagen{height:150px !important;}
	.list-curso .descripcion{height:150px;}
	.list-curso:hover .descripcion{height:220px;}
	
}