/* CUSTOM STYLES */

body, html {background:#fff;font-family: 'Barlow Condensed', sans-serif;scroll-behavior: smooth;}

@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

@font-face{
  font-family:'HelveticaNeueLTStd-Md'; src:url('../fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face{
  font-family:'HelveticaNeueLTStd-Lt'; src:url('../fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face{
  font-family:'Museo_Slab_900'; src:url('../fonts/Museo_Slab_900.otf');
}

@font-face{
  font-family:'Museo_Slab_700'; src:url('../fonts/Museo_Slab_700.otf');
}

@font-face{
  font-family:'Museo_Slab_500'; src:url('../fonts/Museo_Slab_500.otf');
}

@font-face{
  font-family:'Museo_Slab_300'; src:url('../fonts/Museo_Slab_300.otf');
}

@font-face{
  font-family:'DIN-Medium'; src:url('../fonts/DIN-Medium.ttf');
}

@font-face{
  font-family:'DIN-Black'; src:url('../fonts/DIN-Black.otf');
}

@font-face{
  font-family:'DIN-Light'; src:url('../fonts/DIN-Light.otf');
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, ul, li {font-family: 'Barlow Condensed', sans-serif;}

header {background:#161A44;}
.navbar-brand {padding:0px;margin:0px;}


@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.form-search {
  display: inline-block;
  margin-left: 35px;
}
.pseudo-search {
  display: inline;
  background: #fff;
  padding: 7px 5px;
  transition: background-color 0.5 ease-in-out;
}
.pseudo-search input {
  border: 0;
  background-color: transparent;
  width: 200px;
  font-family:'HelveticaNeueLTStd-Lt';
}
.pseudo-search input:focus {
  outline: none;
}
.pseudo-search button,
.pseudo-search i {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 19px;
  color: #707070;
}
.pseudo-search select {
  border: none;
}

a {transition:.6s;text-decoration:none;color:inherit;}
a:hover, a:focus {transition:.6s;outline:none;text-decoration:none;opacity:.5;}

.navbar-expand-lg .navbar-nav .nav-link {color: #434343;font-size: 15px;margin: 0 15px;font-family: 'HelveticaNeueLTStd-Md';font-weight: normal;}

.xzoom-preview {background: #fff !important;}

.carousel-wrap {
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.slide-cut-content {background-position: center !important;background-size: cover !important;}
.slide-cut-content h3 {color: #fff;font-family: 'Museo_Slab_900';font-size: 35px;}
.slide-cut-content p {color: #fff;font-family:'DIN-Medium';font-size: 22px;line-height:normal;}
.slide-cut-content .btn-slide {background: #fff;font-family: 'HelveticaNeueLTStd-Lt';font-size: 15px;padding: 10px 25px;display: inline-block;border-radius: 5px;min-width: 200px;text-align: center;color: #161A44;}

.sect-compo-2 h4 {color: #fff;font-size: 40px;font-family: 'Museo_Slab_700';max-width: 50%;margin-bottom: 20px;}
.sect-compo-2 .back-box {min-height:350px;padding:0px;background-size:cover !important;background-position:center !important;}
.sect-compo-2 .back-box .back-filter-content {width: 100%;height: 100%;padding: 50px;background: rgb(22 26 68 / 60%);}
.sect-compo-2 a {background: #fff;font-family: 'HelveticaNeueLTStd-Lt';font-size: 15px;padding: 10px 25px;display: inline-block;border-radius: 5px;min-width: 200px;text-align: center;color: #161A44;}

.sect-products {padding: 50px 0;background:#F2F2F2;}
.sect-products h3 {font-family: 'Museo_Slab_700';margin: 0 5px 40px;font-size: 23px;color: #434343;}
.sect-products h3 a {color: #434343;text-decoration: none;}
.sect-products h3 small {display: inline-block;margin-left: 30px;font-family: 'HelveticaNeueLTStd-Lt';font-size: 18px;color: #434343;}
#LastViewed .global-div-product {display:inline-block;width:100%;padding: 5px 20px 30px;box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 3%);margin:5px;background: #fff;}
#LastViewed .global-div-product:hover .info-card {opacity:1;transition:.6s;}
#LastViewed .global-div-product:hover {opacity:1 !important;}

#LastViewed .global-div-product .info-card h5 {color: #fff;font-family: 'Museo_Slab_900';margin: 0;font-size:17px;}
#LastViewed .global-div-product .info-card p {margin: 0;color: #fff;font-size: 16px;font-family: 'DIN-Light';}

#LastViewed .global-div-product .info-card {opacity:0;transition:.6s;position:absolute;background:rgb(22 26 68 / 92%);left: 0;right: 0;top: 0;bottom: 0;padding: 30px;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
#LastViewed .img-product {width:100%;min-height:300px;background-size:contain !important;background-position:center !important;background-repeat:no-repeat !important;}
#LastViewed .content-info-product {margin-top:20px;min-height:50px;display:flex;align-items:center;}
#LastViewed .content-info-product p {margin: 0;font-family:'Museo_Slab_500';font-size: 13px;}

.section-news-products {padding: 50px 0;background:#F2F2F2;}
.section-news-products h3 {font-family: 'Museo_Slab_700';margin: 0 5px 40px;font-size: 23px;color: #434343;}

.content-products-news {background:#fff;position:relative;}
.content-products-news .img-icon-abosolute-new {position: absolute;bottom: 10px;right: 10px;max-width: 95px;}
.content-products-news .img-product-new {width: 35%;height: 230px;background-size: contain !important;background-position: bottom center !important;background-repeat: no-repeat !important;}

.content-products-news .content-data {max-width:50%;margin-left:10px;}

.content-products-news .content-data h5 {font-family: 'DIN-Black';font-size: 19px;text-transform: uppercase;}
.content-products-news .content-data a {margin-top:5px;background:#B7D767;font-family: 'HelveticaNeueLTStd-Lt';font-size: 15px;padding: 10px 25px;display: inline-block;border-radius: 5px;min-width: inherit;width:100%;text-align: center;color: #161A44;margin-bottom:20px;}

.footer-sect-01 {padding:50px 0;}
.footer-sect-01 .form-newsletter input {width: 100%;padding: 10px 15px;border: 1px #000 solid;border-radius: 5px;font-family: 'HelveticaNeueLTStd-Lt';font-size: 14px;}
.footer-sect-01 .form-newsletter input[type="submit"]{width:auto;padding: 10px 25px;border: 1px transparent solid;background: #B7D767;color: #161A44;font-size: 14px;border-radius: 5px;font-family: 'HelveticaNeueLTStd-Lt';margin-left: 5px;}
.footer-sect-01 p {color:#434343;font-size: 13px;margin: 10px 0 0;font-family: 'HelveticaNeueLTStd-Lt';line-height: normal;}
.footer-sect-01 p a {font-family: 'HelveticaNeueLTStd-Lt';color:#2659A8;text-decoration:underline;}

.footer-sect-01 .icons-reds a {font-size:28px;margin: 0 5px;}

.footer-sect-02 {border: 3px #D5D5D5 solid;border-left: none;border-right: none;margin-bottom: 50px;}
.footer-sect-02 a {font-family: 'HelveticaNeueLTStd-Lt';color:#2659A8;font-size: 14px;margin: 40px 0;display: inline-block;}

.footer-sect-03 {padding:10px 0 50px;}
.footer-sect-03 h5 {color: #434343;font-family:'HelveticaNeueLTStd-Md';font-size: 19px;margin: 0 0 5px;}
.footer-sect-03 ul {list-style:none;margin:0;padding:0;}
.footer-sect-03 ul li a {font-family: 'HelveticaNeueLTStd-Lt';color: #434343;font-size: 15px;}

.footer-sect-04 {background: #161A44;border-top: 5px #D5D5D5 solid;padding: 15px 0;}
.footer-sect-04 p {color:#fff;font-family: 'HelveticaNeueLTStd-Lt';margin: 0;font-size: 11px;}

.header-grill-products {min-height:480px;background-size:cover !important;background-position:center !important;}

.products-detaills {padding:50px 0;}
.products-detaills .box:hover {opacity:1 !important;}
.products-detaills .box:hover .info-card {opacity:1;transition:.6s;}
.products-detaills .info-card {opacity:0;transition:.6s;position:absolute;background:rgb(22 26 68 / 92%);left: 0;right: 0;top: 0;bottom: 0;padding: 30px;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;}
.products-detaills .box {height: 100%;margin-bottom: 20px;width: 100%;}
.products-detaills .box .image {padding:15px 40px 0;position: relative;height:100%;box-shadow:4px 3px 11px 2px rgb(0 0 0 / 8%);}
.products-detaills .box .image h5 {color: #fff;font-family: 'Museo_Slab_900';margin: 0;font-size:17px;}
.products-detaills .box .image p {margin: 0;color: #fff;font-size: 16px;font-family: 'DIN-Light';}
.products-detaills .box .image img {margin: auto;max-width:70px;}
.products-detaills .box .image h4 {width: 100%;text-align: left;font-family: 'Museo_Slab_500';font-size: 13px;margin: auto 0 30px;}

.products-detaills h4.site-map {font-family: 'HelveticaNeueLTStd-Lt';font-size: 14px;margin: 0 0 40px;}

.section-product-view .container {background: #fff;box-shadow: 0px 2px 7px 2px rgb(0 0 0 / 21%);padding: 50px;}
.section-product-view h3 {font-family: 'Museo_Slab_700';font-size: 28px;max-width:80%;}
.abs-img-new {position: absolute;right: 0;top: -5px;max-width: 150px;}
.section-product-view h5 {font-family:'DIN-Light';font-size: 22px;}
.general-grill {background:#F2F2F2;padding:50px 0;}
.general-grill p {margin: 0 0 30px;font-family: 'HelveticaNeueLTStd-Lt';font-size: 14px;}
.general-grill .section-product-view p {margin:0px;font-family:'Museo_Slab_300';font-size: 15px;padding:20px;}
.general-grill p strong {font-family:'HelveticaNeueLTStd-Md';font-weight:normal;}

#default{text-align:center;}
.product-zoom {text-align: center;}
.product-zoom .xzoom-container {width:100%;}
.product-zoom .xzoom-container img {box-shadow:none;border:none;max-width:200px;}
.product-zoom .xzoom-container .xzoom-thumbs {display: inline-block;float: right;margin: 0;}
.product-zoom .xzoom-container .xzoom-thumbs a {display: inline-block;padding: 5px 40px 0;background: #fff;box-shadow: -1px 3px 8px 1px rgb(0 0 0 / 14%);}
.product-zoom .xzoom-container .xzoom-thumbs a img {border:none;margin:0;box-shadow:none;}

.countrys {padding: 40px;background: #F2F2F2;}
.countrys .container {background: #fff;padding: 40px;text-align: center;box-shadow: 4px 4px 5px 3px rgb(0 0 0 / 8%);}

.countrys .container h3 {font-family: 'DIN-Black';font-size: 30px;margin: 0 0 30px;color:#161A44;}
.countrys .container a {text-transform:uppercase;transition:.6s;font-family: 'DIN-Medium';font-size: 18px;display: inline-block;width: 100%;color: #000;padding: 5px 0;}
.countrys .container a:hover {transition:.6s;background:#EAEAEA;}

.mapas-titles {background: #F2F2F2;padding: 30px 0;}
.mapas-titles h3 {font-family: 'DIN-Black';color:#161A44;text-transform:uppercase;}
.mapas-titles p strong {font-family:'HelveticaNeueLTStd-Md';color:#434343;}
.mapas-titles p  {font-family:'HelveticaNeueLTStd-Lt';color:#434343;}

.main-content {background:#F2F2F2;}
.list-concesionario-title h3 {color:#161A44;font-family: 'DIN-Black';text-transform: uppercase;margin-bottom: 15px;}
.list-concesionario h5 {color: #434343;font-family: 'HelveticaNeueLTStd-Md';font-size: 18px;}
.list-concesionario p {font-family:'HelveticaNeueLTStd-Lt';color:#434343;font-size:14px;}
.list-concesionario p strong {font-weight:normal;font-family:'HelveticaNeueLTStd-Md';color:#434343;}
.consecionarios-content .row {padding:50px 0;}
.consecionarios-content .row .list-concesionario-title .row{padding:0px;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.dropdown-submenu {
  position: relative;
  text-transform:uppercase;
}

.dropdown-item, .dropdown-menu .nav-item .nav-link {font-family: 'HelveticaNeueLTStd-Lt';font-size: 13px;text-transform:uppercase;}
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  /*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color:#a5a4a4 !important;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }


.dropdown-menu > .dropdown {
  position: relative;
}

.dropdown-menu > .dropdown a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: .9rem;
  top: .9rem;
}

.dropdown-menu > .dropdown .dropdown-menu {
  top: -.7rem;
  left: 100%;
  border-radius: 0 .25rem .25rem .25rem;
}

#map_canvas {
    height: 500px;
    width: 100%;
}


.dino-input-field {
    width: auto;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0px;
    border-radius: 0px;
    margin-left: auto;
    border: none;
    color: #fff;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22white%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 0.8em;
    background-position: calc(25% - 1.3em) center;
}
.dino-input-field:hover {
  cursor: pointer;
}

.dino-input-field label {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
}

.dino-input-field span {
    display: inline-block;
    padding: 0px 40px;
    margin-top: 0px;
    width: 100%;
    color: #fff;
    font-size: 20px;
}

.dino-input-field .select-options {
  display: none;
  position: absolute;
  background-color: white;
  border: solid 1px lightgrey;
  width: 100%;
  top: 100%;
  margin: 0;
  padding: 0;
  box-shadow: black 0 5px 20px -15px;
  box-sizing: border-box;
  z-index: 10;
  border-radius: 10px;
}
.dino-input-field .select-options li {
  list-style: none;
  padding: 10px 20px;
  transition: all .25s;
  color: #000;
  font-family: 'HelveticaNeueLTStd-Md';
  font-size: 13px;
}
.dino-input-field .select-options li:hover {
  background-color: #f1f1f1;
  color: #000;
  cursor: pointer;
}

.select-idioma {
  width: 200px;
  background-color: #eee;
  position: relative;
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px 0 0;
  border-radius: 5px;
  border-color: transparent;
}

.serach-section {padding:50px 0;background:#F2F2F2;}
.serach-section h5 {color:#434343;font-family: 'DIN-Black';margin: 0;text-align: center;}
.serach-section h4 {color:#434343;font-family:'Museo_Slab_700';margin:0 0 30px;text-align: left;}

.nav-tabs .nav-link {font-weight: 500;color:#2659A8;background: transparent;text-align: center;font-size: 17px;border-radius: 15px 15px 0 0;}
.nav-tabs {margin-top: 25px;}
.nav-tabs .nav-item {flex: 1;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {font-weight: 500;color: #fff;background: #2659A8;opacity:1 !important;text-align: center;font-size: 17px;border-radius: 15px 15px 0 0;}
.tab-content .tab-pane ul {margin: 15px 0 0;padding: 0 35px;}
.tab-content .tab-pane ul li {font-size:14px;}
.tab-content .tab-pane ul li p {font-family: 'DIN-Light';font-size: 14px;margin-bottom: 5px;}
.tab-content .tab-pane .row {margin: 10px 0 0px;border-bottom: 1px solid #dee2e6;padding-bottom: 10px;}
.tab-content .tab-pane .row h4 {font-size: 14px;margin: 0;font-family: 'DIN-Medium';color: #434343;font-weight: bold;}
.tab-content .tab-pane .row a {background: #B7D767;display: inline-block;width: 100%;text-align: center;padding: 5px;font-size: 13px;font-family: 'DIN-Medium';font-weight: bold;}
.link-buy {display: inline-block;width: 100%;padding: 10px;text-align: center;border: 3px #2659A8 solid;font-size: 20px;color: #2659A8;font-weight: 600;margin-top: 30px;max-width: 85%;}

.modal-events {position: fixed;top: 0;bottom: 0;right: 0;left: 0;background: #000;z-index: 9;}
.modal-events .content-modal {max-width: 800px;margin: 0 auto;background: #fff;position:relative;}
.modal-events .content-modal .cierre-modal {position: absolute;right: 10px;transition:.6s;top: 10px;max-width: 30px;}
.modal-events .content-modal .cierre-modal:hover {cursor:pointer;opacity:.6;transition:.6s;}
.modal-events .content-modal .contents-principal {padding:35px 0px 30px 50px;}
.modal-events .content-modal .contents-principal h3 {font-family: 'Museo_Slab_700';font-size: 25px;margin: 0 0 10px;}
.modal-events .content-modal .contents-principal p {font-family: 'HelveticaNeueLTStd-Lt';font-size: 14px;margin: 0;}

.modal-events .content-modal .faja-event {text-align: left;background: #B7D767;display: inline-block;width: 100%;padding: 30px 50px;margin-bottom: 35px;}
.modal-events .content-modal .faja-event h5 {margin: 0;font-size: 25px;font-family: 'Museo_Slab_700';line-height: 1;}
.modal-events .content-modal .faja-event a {font-family: 'DIN-Medium';font-size: 20px;line-height: 1;}

.custom-calendar .fc-toolbar.fc-header-toolbar {margin: 0;background: #161A44;padding: 10px;display: flex;align-items: center;justify-content: space-between;}
.custom-calendar .fc-toolbar.fc-header-toolbar .fc-left h2 {color: #fff;font-size: 20px;text-transform: uppercase;}
.custom-calendar .fc-right {display: flex;align-items: center;margin-left: auto;}
.custom-calendar .fc-right .fc-today-button {font-size: 14px;}
.custom-calendar .fc-right .fc-prev-button {font-size: 12px;}
.custom-calendar .fc-right .fc-next-button {font-size: 12px;}

.custom-calendar .fc-basic-view .fc-body .fc-row {min-height:inherit;height:auto !important;background: #fff;border: none;text-align: center;}
.custom-calendar .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {float: none;font-size: 17px;padding:0px;}
.custom-calendar .fc td,.custom-calendar .fc th {text-align:center;border:none;}
.custom-calendar .fc-unthemed td.fc-today {background: none;border:none;}
.custom-calendar .fc-event, .fc-event-dot {background-color: #B7D767;border: none;padding: 5px 5px!important;}
.custom-calendar .fc-time {display:none;}

.box-line-search {box-shadow: 2px 3px 5px 2px rgb(0 0 0 / 17%);padding: 20px 0 0;background: #fff;margin-bottom: 30px;}
.box-line-search img {max-width:35px;}
.box-line-search h6 {font-family:'Museo_Slab_500';margin:0px;font-size: 18px;color:#434343;text-transform:uppercase;}
.box-line-search p {font-family:'DIN-Light';margin:0px 0px 10px;font-size:20px;color:#434343;}

@media only screen 
  and (max-width: 767px){

    .navbar {padding:0px;}
    .slide-cut-content .row {flex-direction:column-reverse;padding:20px 15px 0;}
    .slide-cut-content h3 {font-size:28px;}
    .slide-cut-content p {font-size:20px;}

    .sect-compo-2 h4 {max-width:100%;font-size:33px;}
    .content-products-news {margin-bottom: 15px;}

    .header-grill-products {min-height:140px;}
    .section-product-view h3 {max-width: 100%;text-align: left;}
    .section-product-view h5 {text-align:left;margin-bottom: 35px;}
  	
    .general-grill {padding:30px 0;}
    .general-grill p {margin: 0 25px 30px;}
    .section-product-view .container {padding:30px;}

    .footer-sect-03 h5 {margin: 10px 0px 5px}

    .navbar-nav.mr-auto {padding:10px 0;}

    #LastViewed .img-product {min-height: 200px;margin: 15px 0 30px;}
    #LastViewed .content-info-product {min-height:inherit;}
    .owl-nav {width:100%;text-align:center;}
    .owl-nav > div{position: relative;top: 0;display: inline-block;right: 0 !important;left: 0 !important;margin: 0 5px;}
    .owl-nav i {font-size:35px;}
    header {padding:15px 0;}
    .form-search{margin: 15px; }

    .navbar-toggler-icon {height:auto;}
}


