.banner{padding:0; height:600px; background:url(../img/header.jpg) no-repeat center center; background-size:cover;}
.banner .likeapro{transform: translateY(11px); width:40%; height:400px; position:absolute; left:5%; top:55px; background:url(../img/like_pro.png) no-repeat center center; background-size:contain;}
.info-bar{background:#000; color:#47cfd9; padding:20px 140px; text-align:center; font-weight:bold; font-size:35px; line-height:40px; letter-spacing:-2px; position:relative;}
.info-bar .bubble{width:140px; height:140px; right:30px; top:-40px; border-radius:50%; background:#fff; position:absolute; margin-left:20px; z-index:1; color:#000; font-weight:800; text-align:center; padding:36px 20px; font-size:18px; line-height:17px;}
.main-info{padding:60px 15% 100px 15%;}
.main-info .col-md-5{
	text-align:right;
}
.main-info .col-md-5 h1{font-weight:bold; color:#000; font-size:35px; line-height:38px; margin:0;}
.main-info .col-md-5 h2{font-weight:100; color:#000; font-size:80px; line-height:80px; margin:0;}
.main-info .col-md-5 h3{font-weight:300; color:#47cfd9; font-size:35px; line-height:38px; margin:0;}

.main-info .col-md-4{line-height:18px;}

.main-info .col-md-3{padding-top:60px;}

.programa{padding:60px 15% 100px 15%; background:#47cfd9; color:#000; position:relative;}
.programa .bubble{width:140px; height:140px; left:50%; top:0; border-radius:50%; background:#000; color:#fff; position:absolute; margin-left:-70px; margin-top:-70px; z-index:1; font-weight:300; text-align:center; padding:36px 20px; font-size:16px; line-height:15px;}
.programa .bubble b{margin-bottom:6px; color:#3fb9c2;}
.programa .col1{text-align:right; font-size:20px; font-weight:300; padding:0;}
.programa .col2{text-align:center; font-size:92px; line-height:86px; font-weight:100; color:#fff; padding-top:40px;}
.programa .col3{
	position: absolute;
	height: 100%;
	left: 60%;
	bottom: 0;
}
.programa .col3:after{
	content:'';
	position:absolute;
	width:100%;
	height:120%;
	bottom:0;
	left:0;
	z-index:2;
	background:url(../img/woman_pro.png) no-repeat left bottom; background-size:contain;
}

.formulario{padding:80px 2%; background:#ededed; color:#000; position:relative;}
.formulario .mp{background:#f1f1f1; padding:15px;}
.formulario .mp h4{margin:0; color:#47cfd9; font-weight:bold; font-size:20px; line-height:14px; margin-bottom:20px;}
.formulario .mp h5{font-weight:bold; font-size:20px; margin-bottom:0;}
.formulario .mp .col-md-6, .formulario .mp .col-md-5{padding:0;}

.formulario .mp img{max-width:100%;}

.formulario hr{border-top:1px dotted #666; margin-bottom:30px;}

.formulario .col-md-5{text-align:right;}
.formulario .col-md-5 h5{margin:5px 0; font-size:22px;}
.formulario .col-md-5 h2{margin:0; color:#222; font-weight:bold; font-size:38px; line-height:38px; letter-spacing:-2px; margin-bottom:20px;}

.formulario .medios{width:140px; height:140px; float:right; margin-top:40px; border-radius:50%; background:#47cfd9; color:#fff;  font-weight:800; text-align:center; padding:50px 20px; font-size:16px; line-height:14px;}


.formulario .input-td{padding:3px 0; position:relative;}
.formulario .input-td.col-md-6, .formulario .input-td.col-md-3{
	padding-right:4px;
}
.formulario .input-td.last{
	padding-right:0;
	padding-left:4px;
}
.formulario input,.formulario textarea, .formulario select{
	height:44px;
	padding:6px 15px;
	border-radius:0;
	width:100%;
	border:0;
	box-shadow:none;
	border:1px solid #ccc;
	font-size:12px;
	text-align:left;
}
.formulario textarea{
	height:150px;
	resize:none;
}
.formulario .btn{
	background:#47cfd9 !important;
	color:#fff;
	padding:12px 30px;
	border:0;
	box-shadow:none;
	margin-top:4px;
	height: auto;
    font-weight:bold;
	width:100%;
}
.formulario .input-td.error input, .formulario .input-td.error_mail input{
	border:1px solid #ff0000;
}

.mensaje-gracias{position:absolute; top:30%; text-shadow:1px 1px 1px #000; width:45%; right:10%; font-size:40px; font-weight:bold; color:#fff;}

@media screen and (min-width: 1440px) {
	.info-bar .bubble {right:8%;}
}
@media screen and (max-width: 1280px) {
	.main-info .col-md-5 h1{font-size: 30px; line-height: 32px; margin-bottom:8px;}
	.main-info .col-md-5 h2{font-size:60px; line-height:60px; margin-bottom:10px;}
	.main-info .col-md-5 h3{font-size:25px; line-height:28px; margin-bottom:10px;}
	.formulario .col-md-5 h2{font-size: 36px; line-height: 38px;}
}
@media screen and (max-width: 960px) {
	div[data-paroller-factor]{transform:none !important;}
	.info-bar{padding-top:40px; padding-left:15%; padding-right:15%;}
	.info-bar .bubble{width:140px; height:140px; right:auto; top:auto; margin:40px auto; border-radius:50%; background:#fff; position:relative; margin-left:0px; display:inline-block; z-index:1; color:#000; font-weight:800; text-align:center; padding:36px 20px; font-size:18px; line-height:17px;}
	.main-info {
		padding: 60px 8% 100px 8%;
	}
	.main-info .col-md-5, .main-info .col-md-4 {
		text-align: center;
	}
	.main-info .col-md-5 h1{font-size: 30px; line-height: 32px; margin-bottom:8px;}
	.main-info .col-md-5 h2{font-size:60px; line-height:60px; margin-bottom:10px;}
	.main-info .col-md-4{padding-top:50px;}
	.main-info .col-md-3 {
		padding-top: 20px;
		text-align:center;
	}
	
	.programa{padding-bottom:0;}
	.programa .col1 {
		text-align: center;
		font-size: 18px;
		padding-top:70px;
	}
	.programa .col3 {
		position: relative;
		width:100%;
		margin-top:20%;
		height: 400px;
		left: 0;
		bottom: 0;
	}
	.programa .col3::after{background-position:center center;}
	.formulario .col-md-5 {
		text-align: center;
	}
	.formulario .col-md-5 h2{font-size:35px; line-height:35px;}
	.formulario .medios {float:none; display:inline-block; margin:30px;}
	.formulario .btn{text-align:center;}
	.tarjeta{margin-bottom:40px;}
}
